body {
  margin: 0;
  font-family: "IBM Plex Sans",-apple-system, BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
  background-color: #F5F5F5;
}

.app {
  display: flex;
  flex-direction: column;
}

/* Web title */
.app-title{
  display: flex;
  flex-direction: row;
  background-color: #74ADE2 !important;
  align-items: center;
  height: 70px;
  font-weight: 400;
  color: white;
  padding: 0 8px;
  width: 100%;
  position: fixed
}

/*************** Web app body ***************/
.app-body {
  display: flex;
  flex-direction: column;
  padding: 100px 32px 48px;
}

/**** Web App header ****/
.app-body-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  padding-bottom: 10px;
  border-bottom: 2px solid #c8c9cc;
  margin-bottom: 16px;
}

.app-body-header-title {
  font-size: 32px;
  margin: 0;
}

/* Header Buttons */
.app-body-header-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.app-body-create-new-config-button{
  height: 20px;
  border: 2px solid black;
  width: inherit;
}

/* app body grid view */
.app-body-grid-content{
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
}

/* test configuration */
.app-card-display {
  display: flex;
  flex-direction: column;
  background-color: #F2EAEA !important;
  color: black;
  border-radius: 15px;
  border: 1px solid black;
}

.app-card-display-title {
  flex: 0 0 auto; 
  align-items: center;
  font-size: 24px;
  color: white;
  font-weight: 600;
  max-height: fit-content;
  background-color: #8296BD;
  padding: 8px 16px;
}

.app-card-display-content {
  padding: 16px;
  font-size: 16px;
  flex: 1; 
  border: 1px 0px solid black;
}

.app-card-display-footer {
  flex: 0 0 auto; 
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  background-color: #D9D9D9;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

.app-card-display-footer:hover {
  background-color: #D9D9E0;
  cursor: pointer;
}

/*** Create new configuration Pop-up ***/
.app-body-form-title {
  font-weight: 700;
}
.app-body-create-new-test-form label{
  display: flex;
  font-weight: 400;
  margin: 2px 0;
  height: fit-content;
  font-size: 20px;
}

.app-body-create-new-test-form input{
  margin-left: 5px;
  width: 300px;
  height: 20px;
}

.app-body-file-drop {
  display: flex;
  flex-direction: column;
}

.app-body-form-error {
  color: red;
  font-size: 12px;
}